body.menu {
  width: 1280px;
  height: 800px;
  background-color: black;
}

.title {
  width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.t1 {
  font-family: Merriweather;
  font-size: 45px;
  font-weight: bold;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.t2 {
  font-family: Helvetica;
  font-size: 30px;
  font-weight: light;
  color: white;
}


.b1 {
  position: absolute;
  width: 150px;
  left: 160px;
  top: 200px;
}

.b2 {
  position: absolute;
  width: 150px;
  left: 460px;
  top: 460px;
}

.b3 {
  position: absolute;
  width: 150px;
  left: 700px;
  top: 300px;
}

.b4 {
  position: absolute;
  width: 150px;
  left: 1000px;
  top: 550px;
}

/*.rotation:hover {
  transform: rotate(20deg);
  transition: 0.1s all ease-in;
}*/

.b1 {
  transform: rotate(30deg);
}

.b3 {
  transform: rotate(12deg);
}



.b1:hover {
  transform: rotate(20deg);
  transition: 0.1s all ease-in;
}

.b2:hover {
  transform: rotate(-15deg);
  transition: 0.1s all ease-in;
}

.b3:hover {
  transform: rotate(30deg);
  transition: 0.1s all ease-in;
}

.b4:hover {
  transform: rotate(-40deg);
  transition: 0.1s all ease-in;
}
